[2015-06-27 12:07] Kaos1337 opened #5 "sendPhoto method"
Hello,
thank you for your library, I need help about the use of the method sendPhoto because I see that there's only one parameter, but, how can I use photo option?
Thank you.

[2015-06-27 13:29] AceSpades commented on #5
I'm arrived here:
[code]
but i don't know what have to be placed in files.photo.stream

[2015-06-27 14:14] Kaos1337 commented on #5
It doesn't work for me, I already have a png image in local but that written method example doesn't send it.

[2015-06-27 17:58] Liryna opened #6 "sendMessage with ReplyKeyboardMarkup question"
Hi !

I try to send a message with custom keyboard as reply.

[code]
I get the message "Who to write ?" and I see that the client is waiting a command but none of the options are shown.
Am i doing something wrong ?

[2015-06-27 20:40] Kaos1337 commented on #5
Works, thx.

[2015-06-27 20:40] #5 closed

[2015-06-28 03:27] shernshiou commented on #6
Looking into it ya..

[2015-06-28 03:37] #6 closed

[2015-06-28 03:38] shernshiou commented on #6
@Liryna can you try again? Its working at my side.

[2015-06-28 07:29] Liryna commented on #6
Yes it work !
But you should also add it for sendPhoto, sendAudio, ...
Thank a lot :) !

[2015-06-28 07:59] shernshiou commented on #6
Thanks. I will now add it to sendPhoto and sendAudio since you confirmed it works.

[2015-06-28 08:40] fivepointseven opened #8 "sendPhoto throwing error"
I do as said in one of closed issues:
[code]

[code]

What am I doing wrong?

[2015-06-28 10:14] #8 closed

[2015-06-28 10:15] shernshiou commented on #8
@fivepointseven I tried to fix it with the recent commit, can you try? Appreciate your feedback.

[2015-06-28 10:16] fivepointseven commented on #8
@shernshiou works flawlessly now! Thanks!

[2015-06-28 10:17] shernshiou commented on #8
@fivepointseven Thanks!.. It is under development, there will be bugs here and there. I am very sorry.

[2015-06-28 10:19] fivepointseven commented on #8
@shernshiou
Yep, 2 minutes after I updated to 0.0.12 you committed 0.0.13 :)
I'm actively developing a few bots with this, so I'll report any found bugs :)
Thanks for quick response!

[2015-07-08 09:56] shernshiou opened #13 "Move to bluebird"
Compared to Q which we are using now, bluebird has better performance and compatibility.

[2015-07-09 09:05] Christilut opened #14 "Multipart stream parameter"
I noticed you removed the stream parameter from the multipart method. Filepath as parameter is more user friendly but I am missing the stream parameter since I download files and forward it to Telegram.

I quick and dirty patched it like this for now:
[code]

A nicer way to handle stream as parameter would be great

[2015-07-09 09:12] shernshiou commented on #14
Ahh.. I am currently reimplement a readable way for this part. Thanks for the headsup!

[2015-07-09 16:13] rizwankce opened #15 "Sending stickers to bot is crashing"
When sending stickers to bot app is crashing with the below error. I guess the problem occurs when there is not text in message.

`var command = msg.message.text.split(' ')[0];
TypeError: Cannot read property 'split' of undefined
 at Array.forEach (native)
at /app/node_modules/node-telegram-bot/lib/Bot.js:90:43`

[2015-07-10 03:57] #15 closed

[2015-07-11 17:34] Christilut opened #16 "Handle Telegram outage gracefully"
Telegram was under DDOS yesterday and my bots got this error:
[code]

I think the best place to handle this is in your library. Maybe retry until connectable again? Is there a on-error event?

[2015-07-12 04:11] shernshiou commented on #16
Good suggestion. I will implement the retry at open method. Thanks

[2015-07-16 22:46] chevdor opened #18 "What is token supposed to be?"
The test suggests something that looks like:
    App api_id:App api_hash

However, with this I get a 401 error.

[2015-07-17 06:55] shernshiou commented on #18
Hi please refer to https://core.telegram.org/bots#3-how-do-i-create-a-bot

[2015-07-17 07:10] chevdor commented on #18
Oh perfect. I started reading and it answered some questions already.

On Fri, Jul 17, 2015, 08:55 Shern Shiou Tan <notifications@github.com>
wrote:

[2015-07-17 08:39] #18 closed

[2015-07-19 20:35] vbauer opened #20 "TypeError: Cannot call method 'split' of undefined"
I have a problem with app which was deployed on the OpenShift (node-telegram-bot version 0.0.16):

[code]

[2015-07-19 21:04] fivepointseven commented on #20
My fault with command arguments recognition. It was fixed in my latest pull request (#17) but hasn't yet been merged. You can use fixed library from my repository until #17 is merged

[2015-07-19 21:19] vbauer commented on #20
@fivepointseven Thank you for suggested solution! I hope it will be merged soon. :)

[2015-07-20 02:24] shernshiou commented on #20
Thanks both. I will merge it now.

[2015-07-20 02:37] #20 closed

[2015-07-20 04:29] shernshiou commented on #14
Hello, I have implemented the feature you have requested. Please try it out. I appreciate your feedback. The method of implementing stream can be found at echobot sample.
fc4a3f7e73789f523368a6bb40cfb73ced5a6038

[2015-07-20 20:13] kaminoo opened #21 "Command parsing"
Hi!
Love the library.
Could you make some sort of config parameter to enable/disable command parsing?
I'm currently handling this on my own, and if for every message you parse it, it would allow for a loss in performance.
If needed I can contribute with a pull-request for this.
Thanks.
Sebastian

[2015-07-21 05:50] shernshiou commented on #21
@kaminoo Sure you can. Look forward for your pull request.

[2015-07-21 12:05] shernshiou opened #24 "CLI"

[2015-07-30 01:21] SyRenity opened #25 "Getting timeouts when trying to send images"
Trying to send a PNG image, getting a timeout message:

<html>
<head><title>504 Gateway Time-out</title></head>
<body bgcolor="white">
<center><h1>504 Gateway Time-out</h1></center>
<hr><center>nginx/1.6.2</center>
</body>
</html>

The URL is:
https://api.telegram.org/BOT_API_KEY/sendPhoto

Any idea why this happens?

[2015-07-30 10:33] shernshiou commented on #25
@SyRenity can you show me your code snippet?

[2015-07-30 12:21] SyRenity commented on #25
[code]

[2015-07-30 12:22] SyRenity commented on #25
I actually tried the latest version as well, and it gave me the same result.

I'm using the one with separate stream, as it allows me to pipe a result without using the disk in the middle.

[2015-07-30 12:45] iambibhas opened #26 "Improve documentation on use of Bot commands"
I see [here](https://github.com/depoio/node-telegram-bot/blob/master/examples/echoBotExample.js#L52-L65) that it's possible to parse commands with this library, but there are no documentation/examples of it. Can you please provide some detailed doc?

[2015-07-30 13:15] fivepointseven commented on #26
It's possible.
When bot receives "/whatever" it triggers "whatever" event, so you can do `.on('whatever'. function(message){ //do stuff });`
You can also send "/whatever argument1 argument2" etc. Then you should do like so:
[code]

[2015-07-30 13:40] iambibhas commented on #26
@fivepointseven awesome. This should be on the readme file as the commands are the most basic part of any bot.

[2015-07-31 02:50] shernshiou commented on #26
Will do thanks.

[2015-07-31 02:52] shernshiou commented on #25
@SyRenity I am looking into it. Thanks

[2015-07-31 07:11] shernshiou commented on #25
@SyRenity I have tested with stream

[code]

[2015-07-31 07:14] #25 closed

[2015-07-31 07:17] #21 closed

[2015-07-31 07:18] shernshiou commented on #21
You can now add options parseCommand and set it to false to disable command parsing.

[2015-07-31 07:18] #14 closed

[2015-07-31 07:45] #16 closed

[2015-07-31 07:46] shernshiou commented on #16
@Christilut hey, you can now adjust maxattempt. Default attempt will be 5 times.

[2015-07-31 07:49] shernshiou opened #28 "Http server for Webhook"
Currently webhook is not attached to a http server to receive request.

[2015-07-31 13:49] kaminoo commented on #21
Thanks man! Sorry for not sending the pull request, I've been swamped!

[2015-07-31 14:20] shernshiou commented on #21
@kaminoo no worries man. I've been swamped until today.

[2015-08-02 16:06] SyRenity commented on #25
Which version this was tried with?

I'm still getting the time-out error on both the 0.0.14 that I use, and on the latest 0.1:

<html>
<head><title>504 Gateway Time-out</title></head>
<body bgcolor="white">
<center><h1>504 Gateway Time-out</h1></center>
<hr><center>nginx/1.6.2</center>
</body>
</html>

Is the stream object has to have any specific proprieties to work?

[2015-08-03 00:04] SyRenity commented on #25
@shernshiou Found the issue, I was simply have not waited until the image creator (QR in this case) finished writing to disk.

Any way to pipe the image creator output to sendPhoto directly, bypassing the disk completely?

[2015-08-03 04:23] shernshiou commented on #25
@SyRenity not at the moment. How about contributing for a pull request?

[2015-08-03 12:44] SyRenity commented on #25
@shernshiou I will check it once I have some time.

[2015-08-03 15:21] webnetedgar opened #30 "Commands on group chats"
Hi, I'm new here (also started to learn how to code a few weeks ago) and I have a doubt (maybe newbie question, but still):

How can I set my bot to answer group chat commands? Because when I send a command /help on a private chat it works correctly, but when my bot is in a group with another bots, the message is sent as: /help@MyBotUsername, and it doesn't answer.

Any help or explanation would b

[2015-08-03 15:24] shernshiou commented on #30
try listen to 'help@MyBotUsername' ?

[2015-08-03 15:27] webnetedgar commented on #30
Thats possible, but I have almost 40 commands listed 2 times (one with "/command" and another with "[emoji] Command" to custom keyboard), no way to listen every "/help+something" directly? If no, I'll have to put it manually.

[2015-08-03 15:40] shernshiou commented on #30
@webnetedgar I guess you need to listen to 'message' and match

[code]

[2015-08-03 15:46] fivepointseven commented on #30
It would be nice idea to specify botName on initialization along the token and match commands according to it. I'll try in the evening and will throw you a pull request if it'll work

[2015-08-03 16:07] webnetedgar commented on #30
Thank you a lot guys, it should work, will try it later today!

[2015-08-07 17:03] smhmayboudi opened #31 "process._tickCallback"
/home/melobit/melobot-v2/node_modules/node-telegram-bot/node_modules/q/q.js:155
                throw e;
                      ^
TypeError: Cannot read property 'file_id' of undefined
    at /home/melobit/melobot-v2/commands/dl.js:36:56
    at /home/melobit/melobot-v2/node_modules/node-telegram-bot/node_modules/q/q.js:2031:17
    at runSingle (/home/melobit/melobot-v2/node_modules/node-telegram-bo

[2015-08-07 19:39] #31 closed

[2015-08-08 02:40] shernshiou commented on #31
@smhmayboudi can you share your code snippet?

[2015-08-08 12:26] smhmayboudi opened #33 "WHAT IS THIS PROBLEM - ECONNRESET?"
events.js:85                                                                                                                                                 │·······················
      throw er; // Unhandled 'error' event                                                                                                                   │·······················
            ^

[2015-08-08 21:06] Liryna commented on #33
https://stackoverflow.com/questions/17245881/node-js-econnreset

[2015-08-09 03:56] shernshiou commented on #33
@smhmayboudi Can you attach some snippet so I can check?

@Liryna thanks.

[2015-08-20 16:18] ollmer opened #34 "Bot analytics integration"
Hello!
I`m a developer of the analytics service for telegram bots https://github.com/botanio/sdk

I want to offer integrate our sdk to this wrapper, so bot developer can get some analytics without much efforts. Is anyone interested in such enhancement?

[2015-08-20 16:24] fivepointseven commented on #34
Hi
I already integerated botan.io into my bots made on this library and I totally support the idea of adding it to the library itself

[2015-08-20 21:12] strikeentco commented on #34
Hello!
I just finished writing my library ([Teabot](https://github.com/strikeentco/teabot)). This is not just a wrapper over the API.
Teabot already supports botan.io analytics, also supported Redis and Aerospike as storage.

I hope this library will find its audience and will be developed further with the help of the community.

Do not consider for ad :)

[2015-08-21 08:07] shernshiou commented on #34
Sure. What can I help?

[2015-08-21 09:01] ollmer commented on #34
I think it should look like this
[code]
If .enableAnalytics(botan_api_key) called, all messages should be sent to botan service as events before passing them to the callback.
I can make a pull request if you agreed.

[2015-08-21 10:01] shernshiou commented on #34
sure no problem!

[2015-08-21 15:15] ollmer commented on #34
Ok, thanks! I`m going to code it this weekend and made pull request then.

[2015-08-26 08:07] knusprigeswuerstchen opened #35 "Problem with"

[2015-08-26 09:40] shernshiou commented on #35
???

[2015-08-26 16:53] knusprigeswuerstchen opened #36 "Check access token integration"
Would it be possible to check the bots access token and throw an error if the token is wrong?
If you want, I could develop this little extension and submit it as Pull request.
Are you interested?

[2015-08-26 17:02] knusprigeswuerstchen commented on #35
wow. Sorry i accidently clicked on "create issue". Its now fixed :)

[2015-08-26 17:03] #35 closed

[2015-08-26 17:05] shernshiou commented on #36
It is possible. I am glad to review your pull request. :)

[2015-08-27 10:05] shernshiou commented on #36
Thanks!

[2015-08-27 10:05] #36 closed

[2015-08-27 10:05] #30 closed

[2015-08-27 10:05] #33 closed

[2015-08-27 10:06] shernshiou opened #38 "Complete Test Suite with Mocha"

[2015-08-31 20:38] mansarip opened #39 "setwebhook with self-signed certificate"
Telegram new updates :
- Added support for self-signed certificates: upload your certificate using the certificate parameter in the setWebhook method.

Is there any way I can use self-signed cert? Thanks.

[2015-09-01 08:01] shernshiou commented on #39
I will take a look.. Thanks for the update.

[2015-09-04 08:32] xavieryao opened #41 "Bot had no response to messages and crashed with TypeError"
[code]

[2015-09-04 08:39] xavieryao commented on #41
```[Error: connect ETIMEDOUT] code: 'ETIMEDOUT', errno: 'ETIMEDOUT', syscall: 'connect'```

[2015-09-04 08:54] xavieryao commented on #41
Turns out to be my internet failure.

[2015-09-04 08:54] #41 closed

[2015-09-05 03:59] shernshiou commented on #41
Thanks for the report.. Will include more robust error message.

[2015-09-05 19:38] Jokero commented on #13
Use native promises by default

[2015-09-06 02:09] shernshiou commented on #13
@Jokero planning for this.

[2015-09-07 14:55] kaminoo opened #42 "Handling response error crashes"
Hi there, me again.
I have your library running 24x7 with a couple of bots on a server.
Last week I updated to your latest revision and some crashes started to appear.
Sure enough are easy to fix. Seems like the response object is null on some cases.
Here are two different errors:

**First reported issue**

`TypeError: Cannot read property 'statusCode' of undefined`
`  File "/node_modules/node-tel

[2015-09-07 20:19] longstone commented on #42
Would be nice if you can add a extra line to log the specific error object. However, I've commited a workaround here #43

[2015-09-08 15:11] kaminoo commented on #42
@longstone actually I think the commit you submitted won't fix the problem. The problem is not that statusCode doesn't exist, is that res is undefined. If statusCode is undefined it wouldn't enter the if anyway. I think if (res && ... ) should fix it.

Unfortunately I don't have an error for this.
If you manage to emit an error instead of console.log I might be able to track it on the exceptions s

[2015-09-09 12:31] longstone commented on #42
i've added the line. In my opinion @shernshiou should decid how to handle errors/logging in overall.

[2015-09-13 13:15] shernshiou commented on #42
@kaminoo @longstone sorry, just got back from busy work. will look into it.

[2015-09-14 18:10] longstone opened #45 "Command not parsed if containing '@'"
Code:
[code]
Request
`/stats@myBot`
Response:
`unprocessable command: /stats@myBot`

Can someone confirm this is a bug? I'm running V0.1.2

[2015-09-14 21:15] pennyfx opened #46 "How do you handle incoming audio messages?"
When an audio message is received, how do you save it or open it or do anything with it?  The JSON message just has meta data like duration, mime, file_id, file_size.

[2015-09-16 07:28] shernshiou commented on #45
@longstone will test and revert.

[2015-09-16 07:32] shernshiou commented on #46
@pennyfx We are all waiting for an api to download file. I will update the library once the api is ready.

[Source](https://twitter.com/telegram/status/614468951926509568)

[2015-09-16 07:32] #46 closed

[2015-09-18 18:02] pennyfx opened #47 "Add new getFile API"
https://core.telegram.org/bots/api#getfile

[2015-09-19 04:11] kaminoo commented on #47
+1 for this!

[2015-09-22 07:37] shernshiou commented on #47
@pennyfx @kaminoo in the pipeline

[2015-09-22 17:03] shernshiou commented on #47
@pennyfx @kaminoo I have committed an experimental getfile feature. Please go ahead and try it out

ee25c1f942e834421c0c68fe3e12de29ccce0dc7

[2015-09-23 02:05] kaminoo commented on #47
@shernshiou awesome! Will try it out soon! Thanks!

[2015-09-28 21:23] kaminoo commented on #42
@shernshiou I've downloaded the latest repo and tested 24x7 on dev and found this new problem:

`node-telegram-bot/lib/Bot.js:232`
`      self.emit('error', 'Unknow error, '+err.stack);`
`                                             ^`
`TypeError: Cannot read property 'stack' of null`

[2015-09-28 21:26] kaminoo commented on #47
@shernshiou I've taken a look at the implementation you did. I would suggest that the getFile method you did saves the file locally only as an alternative. I see you library as a means of creating something bigger. In my case for example, I have no need to download the file but to transfer the URL to someone else. Could you add that?

[2015-09-28 21:28] kaminoo commented on #13
@shernshiou @Jokero +1 for using native promises that come easily with Node v4+

[2015-09-29 07:33] shernshiou commented on #47
@kaminoo sure.

[2015-09-29 07:35] shernshiou commented on #42
@kaminoo can you provide more info?

[2015-09-29 14:32] kaminoo commented on #42
@shernshiou the only extra thing I know is that this ocurred during a reconnection. The problem seems to be related that the self.emit is not checking if `err` if actually not `null` or `undefined`. Reconnections can happen without errors actually. So it must be that.

[2015-09-29 16:15] shernshiou commented on #42
@kaminoo I need someone to identify the error before I can output more message. As for now, I will put unknown error.

154a302457f4e0657f4947227262d2d642a55fc5

[2015-09-29 16:16] #42 closed

[2015-09-29 16:17] #47 closed

[2015-10-04 21:31] fivepointseven opened #48 "Somebody broke my argument parsing"
On line 218 it should be `self.emit(command, msg.message, arg);`
Now it's `self.emit(command, msg.message, arguments);` and is doing crazy things.

[2015-10-05 01:17] shernshiou commented on #48
@fivepointseven Will correct it.

[2015-10-05 04:21] #48 closed

[2015-10-11 12:12] hbagheri commented on #39
I have created my self-signed certificate using https://core.telegram.org/bots/self-signed.
Then tried to upload my publick key (.pem) to telegram server using form below.
seems it do not works yet?
I have posted my  my publick key (.pem) with name 'certificate' and webhook url with name of 'url' to 'https://api.telegram.org/bot<MYTOKEN>/setWebhook'
using a normal html form
would any one please he

[2015-10-12 06:44] shernshiou commented on #39
@hbagheri I have not implemented self signed cert. I am looking into supporting this feature in the future.

[2015-10-12 13:57] offerm opened #49 "release 0.1.4 - bug with BOT /getUpdates"
Bot.prototype._poll is used to poll message to the bot.

the HTTP response in most cases is 409 (timeout).
New code (0.1.4) is raising an error for that.

works perfectly with 0.1.2

[2015-10-13 01:52] shernshiou commented on #49
@offerm will look into it. Do you have some code snippet to refer?

[2015-10-18 06:07] boseji opened #50 "Bot Termination and Startup Issue"
Hello,

I am trying to use the Library to be able to Stop the BOT app from Node if needed.
However next time when I start the bot again it fails to start up.

Here is a code snippet:
[code]
This inside the command parser instantiated by:
[code]
Where `parseMessage(message)` is the function that is used to interpret the message as a command.

The package is running normally when there is no `/stop`

[2015-10-18 11:06] longstone commented on #50
Hey Boseji
In my opinion on a /stop command you're don't supposed to shut down the bot. You should remove the chat subscription from this participant.

[2015-10-18 13:07] boseji commented on #50
I think then we need to send a different command such as `/shutdown` will that be alright.
The problem is that after `bot.stop` is called the new instance of the bot can't receive any new messages. It still receives the last message that was posted.
This means that if I have written an actuation command then the BOT might redo the action.
I put my code now on github kindly have a look. https://git

[2015-10-19 08:55] longstone commented on #50
I doubt, because we won't start a bot for each chat. but maybe @shernshiou can declare whats the meaning? here is an example how i handle [the register and notification part](https://github.com/longstone/lodur-parse-operation/blob/master/module/telegram/telegramMngr.js)

[2015-10-19 09:57] shernshiou commented on #50
@boseji when you called stop, the client will stop polling.

I will look into your code and check.

[2015-10-19 11:57] boseji commented on #50
Thanks for your help.
I have currently removed the Stop part as the code was crashing out.
Still need to test it. Will do a trial tonight.

In my case one more observation is that when my `telegram_bot.js` is crashing if I run the `telegram_getuserid_bot.js` then the program starts working again.
Kindly look at both the JS scripts.

[2015-10-19 12:04] longstone commented on #50
I think your code is broken, not the 'node-telegram-bot'. So this is not a bug of the library. For example, you're using switch case the wrong way [see here](https://github.com/boseji/Telegram-bot-example/blob/master/telegram_bot.js#L51) and how a [switch case should be used](http://www.w3schools.com/js/js_switch.asp).

Again this is **not a bug of this package**!

[2015-10-19 13:02] boseji commented on #50
Its not a bug, may be it looks like.

The switch is a standard trick used in JS for replacing cascaded if-else ladders.
Very common in my browser app implementations.

Well I will make it more aligned to actual switch function and try one more time.

[2015-10-19 16:49] longstone commented on #50
Sorry I was really confused, now I looked into your code. You can't run the same bot (apikey) simultan. I tried this right now, and im think you'll get the following logs:

**starting getuserid**
[code]
**starting the bot***
[code]
**result getuserid**
[code]

I recommend to build the whitelist thing into your Bot, so that you register each call and then manual set the permission to each id.

[2015-10-20 03:02] boseji commented on #50
You need to use the Auth function.
Update the User ID from which you would need to communicate with the BOT in the array `AuthorizedUsers` array line 11 in `telegram_bot.js`.

To obtain the user ID use the script `telegram_getuserid_bot.js`
This is a measure to ensure that no body else can control the BOT.

[2015-10-20 03:22] boseji commented on #50
I have just updated code the problem still remains.
I have changed `/start` to `/begin` and `/stop` to `/shutoff` Still the problem persists.

The main concern is the call to `bot.stop()` what are necessary per-conditions for calling this ?
Can this be done within a call back or I need to generate a *monitor event* to be able to turn off the `bot`.

My goal with the `/stop` or `/shutoff` command i

[2015-10-20 07:25] shernshiou commented on #50
@boseji can i know your motivation behind calling the stop?

[2015-10-21 01:38] boseji commented on #50
The `stop()` would terminate the bot connection and hence the program.
Its need to be able to shutdown the terminal / BOT program in case some thing goes wrong.

For privacy and security reasons I would like to have the capability to kill the BOT program on the other side from my mobile phone.

[2015-10-26 23:09] vbauer commented on #49
Hello, it looks like a have the same problem:
[code]

[2015-10-27 01:12] shernshiou commented on #49
@vbauer thanks for the headsup. Do you mind sharing your code snippet?

[2015-10-27 01:30] boseji commented on #50
Any updates on the async termination of Bot.
Still the code remains unchanged.

[2015-10-27 12:30] shernshiou commented on #50
@boseji  I am testing 50af69b12fa372862b25dda092269be80617da5c

[2015-10-27 13:59] shernshiou commented on #49
I am trying to solve it with this commit 50af69b12fa372862b25dda092269be80617da5c

[2015-11-03 22:25] Luchanso commented on #45
This request type is working for me

[2015-11-06 11:11] viacgo commented on #45
This is also not working for me. I think this needs simply to find and replace "@" + username after this line:
[code]

[2015-11-06 12:28] Luchanso commented on #45
@viacgo, messages sent from public chat or private?

[2015-11-06 17:36] viacgo commented on #45
Both

[2015-11-12 08:51] trashbytes opened #53 "Bot silently stops pulling/responding"
Hi there!

I am running this bot on my Raspberry Pi and it always just stops pulling the messages after a period of time.

I am running it with nohup to daemonize it like this:

[code]

The nohup.out never throws an error, it just stops pulling the messages until I kill and restart the bot. Then it processes all missed messages and goes on for a few hours.
My Raspberry Pi is running rock solid for

[2015-11-12 09:30] shernshiou commented on #53
@trashbytes How long did you run the application? Do you have any snippets so I can debug?

[2015-11-12 09:44] trashbytes commented on #53
Of course, it is not much since most of the heavy stuff is handled in another script called "data" (it is a db made up of several arrays which are usually searched through, processed and the result returned).

[code]

As you can see it's just a modification of your echo bot example. I added a few things to parse the message.text and split it into the command and the parameters. It works great but

[2015-11-12 22:48] longstone commented on #53
just my two cents to this topic: i'm pretty sure i've the same problem on a dedicated instance. from time to time, the bot stop interacting. But the logs are quiet. how can we investigate on this.

[2015-11-13 00:23] shernshiou commented on #53
@longstone @trashbytes It might be caused by the interval polling. Can it be memory leakage?

BTW, I use this for a production environment since August. I never encountered this problem.

[2015-11-13 05:42] trashbytes commented on #53
Well you are pretty limited on a Raspberry Pi ram-wise. I will further test this with memory leakage in mind.
@longstone when this happensar, e you using it on a weaker machine, too?

[2015-11-13 09:04] derhuerst commented on #53
I'm not using it on a Raspi, but it doesn't work reliably either on a laptop. Also, when reaching the memory limit, node will tell you when crashing.

[2015-11-13 11:29] longstone commented on #53
@trashbytes  I'm using it on openshift. I'm from time to time, i realise the bot isn't working anymore. so i have to restart the whole nodejs application. in logs, nothing happen (I catch thread exceptions as well [see here](https://github.com/longstone/lodur-parse-operation/blob/master/app.js#L3)). Are you all using polling instead of webhooks?

[2015-11-13 11:52] trashbytes commented on #53
@longstone Yes, I am using polling as well. I also have to restart node to get it working again.

[2015-11-13 12:00] derhuerst commented on #53
@longstone polling as well.

[2015-11-14 14:09] trashbytes commented on #53
I just noticed that node doesn't crash. The bot just stops polling after a while. Same thing happened a while ago when I was trying out this API with pm2, which keeps node alive forever. Back then the bot also stopped polling after a while although it was still running, if I remember it correctly.

[2015-11-14 14:38] derhuerst commented on #53
Can confirm that.

[2015-11-15 09:17] shernshiou commented on #53
Thanks for the report. @trashbytes @derhuerst @longstone, I will start debugging by catching memory leakage.

[2015-11-16 11:04] JasperAlgra commented on #53
I might have the same issue but can't confirm memory. I do have a crashlog (running with supervisorctl):

`Error: Unknown error. Status code: 502
    at Request._callback (/home/jasper/telegram-npm/node_modules/node-telegram-bot/lib/Bot.js:240:28)
    at Request.self.callback (/home/jasper/telegram-npm/node_modules/request/request.js:198:22)
    at Request.EventEmitter.emit (events.js:98:17)
    a

[2015-11-16 11:43] shernshiou commented on #53
@JasperAlgra thanks.. I am currently running the bot for a few days to catch any memory leak.

[2015-11-16 11:46] trashbytes commented on #53
@JasperAlgra I also thought about a network issue. To me it seems like the bot doesn't retry to get messages if it fails once.

[2015-11-17 07:04] trashbytes commented on #53
I just got this error.
[code]

[2015-11-17 07:27] shernshiou commented on #53
@trashbytes can you update your code to latest master and listen to 'error' ?

[2015-11-17 07:46] #49 closed

[2015-11-17 08:17] trashbytes commented on #53
Will do! Thanks.

[2015-11-18 07:02] trashbytes commented on #53
@shernshiou the bot is running rock solid since yesterday noon. It never lasted that long so you may have done it! Thanks a ton!

[2015-11-18 11:17] shernshiou commented on #53
@trashbytes glad to hear that. I will keep monitoring for anomaly.

[2015-11-18 13:52] longstone commented on #53
@shernshiou will there be an release?

[2015-11-18 14:35] shernshiou commented on #53
@longstone I will release now.

[2015-11-18 14:37] #53 closed

[2015-11-18 14:38] #50 closed

[2015-11-18 14:38] #34 closed

[2015-11-24 20:32] fivepointseven opened #54 "Channel support and new Chat type?"
Hi. Are you planning to add channel support and new Chat field type in Message?

[2015-11-25 02:12] shernshiou commented on #54
@fivepointseven I will implement it by this week.

https://core.telegram.org/bots/api#chat

[2015-11-25 14:35] gielcobben opened #55 "Send gif"
Hello I want to send a gif file like this:

    bot.sendDocument({
        chat_id: id,
        document: request(original_url).pipe(fs.createReadStream("image.gif"))
    });

But I keep getting this message:

    .../node_modules/node-telegram-bot/lib/Bot.js:700
        if (options.files.stream) {
                         ^

    TypeError: Cannot read property 'stream' of undefined

[2015-11-25 19:54] shernshiou commented on #55
@gielcobben
if you would like to send as stream

[code]

[2015-11-27 09:45] JasperAlgra commented on #45
Here the same, telegram now adds the @botname to the command in groups so I have to explain to chat users to 'not type the @ part' ..
Anyhow, I now use something like this:
[code]

The command@botname always triggers the .on('message',..) instead of .on('command',...) function. So splitting the message on the @ into a command and a target as @viacgo suggests unfortunately only works for .on('messa

[2015-11-27 11:29] gielcobben commented on #55
Great, thank you.

[2015-11-27 14:29] #55 closed

[2015-11-30 06:25] shernshiou commented on #54
Chat field type is working normally.
I am able to put my bot into a channel but the bot does not receive any messages. Any idea?

[2015-11-30 19:05] fivepointseven commented on #54
@shernshiou are bots actually supposed to see channel messages? I thought they're intended as administrators...

[2015-12-01 00:26] shernshiou commented on #54
@fivepointseven from the chat field, there are information about channel title and channel chat type. I suppose bots can view it. I will test further. Appreciate if more people can help :)

[2015-12-01 11:45] JasperAlgra commented on #45
allright, this should be it. I'll try to make a pull request but that's new for me with libaries and all :)

At the moment I'm not passing the target to the bot/self.emit function but I think that should be possible as well.

Bot.js line 221
[code]

[2015-12-01 14:56] JasperAlgra commented on #45
All right, rewrote the regexp with help of a colleague :)

See pull request #56

[2015-12-02 04:11] #45 closed

[2015-12-03 11:35] longstone commented on #45
cool thanks!

[2015-12-09 17:06] kaminoo opened #57 "Error HTTP 409"
Hi everyone.
Am I the only one getting a ton of 409 errors from Telegram?
It's stated somewhere on the web that this is probably when trying to use multiple bots at the same time, but the case is I'm only running one instance of each one that I have.
Every couple of minutes I get this error and restart the polling.

I did find a probable bug on the Bot, that in the polling the getUpdates gets a 60

[2015-12-09 23:47] shernshiou commented on #57
Did you use the same token? @kaminoo

[2015-12-09 23:55] kaminoo commented on #57
No of course not. Different bots. Different tokens.

[2015-12-11 15:56] shernshiou commented on #57
Fixes by @kaminoo a40e8e56f479f7a698eeaf12565732a02f3a790b

[2015-12-11 15:56] #57 closed

[2015-12-11 15:57] shernshiou commented on #39
Merge into issue #28

[2015-12-11 15:57] #39 closed

[2015-12-22 17:35] DrRamm opened #60 "got error"
Got this error when trying send photo in telegram -> bot

/home/ubuntu/workspace/FacebookBot/node_modules/node-telegram-bot/node_modules/q/q.js:155
                throw e;
                ^

TypeError: Cannot read property 'destination' of undefined
    at callback (/home/ubuntu/workspace/FacebookBot/facebookbot.js:95:83)
    at /home/ubuntu/workspace/FacebookBot/node_modules/node-telegram-bot/no

[2015-12-23 01:25] shernshiou commented on #60
@DrRamm might need to see your snippets.

[2016-01-02 02:47] trashbytes commented on #53
I recently updated to the new version and this issue reappeared.

[2016-01-02 02:59] trashbytes opened #63 ""/error" crashes the bot"
When you send "/error" the bot crashes with following error message:

[code]

[2016-01-02 04:11] shernshiou commented on #53
@trashbytes is it related to the new issue you opened?

[2016-01-02 10:04] trashbytes commented on #53
No, they are not related.

[2016-01-04 15:49] #54 closed

[2016-01-04 15:50] shernshiou opened #65 "Native promise"
Moving from Q to native promise by node v4

[2016-01-04 15:52] shernshiou commented on #13
Closed in favor of native promise #65

[2016-01-04 15:52] #13 closed

[2016-01-04 15:56] shernshiou commented on #63
@trashbytes I am sorry its hard to debug. Can you give me more clue?

[2016-01-04 23:17] trashbytes commented on #63
Every time a message the bot receives starts with "/error" it crashes. Simple as that. This also happens with the echo bot and I think even before
[code]
is even executed.

[2016-01-05 00:11] fivepointseven opened #66 "Inline bots"
This is an absolute must have!

https://core.telegram.org/bots/inline

[2016-01-05 02:39] shernshiou commented on #66
@fivepointseven please join us at gitter as we are planning for next version.

[2016-01-05 11:32] shernshiou commented on #65
In favor of native promise, we are going to drop Q promise which is currently in-use. Any of you guys have opinion? Or we should keep it for backward compatibility?

[2016-01-05 11:33] fivepointseven commented on #65
I absolutely love native promises and switching all my projects to them. However backward compatibility never hurts.

[2016-01-05 16:49] longstone commented on #63
I can confirm this error. By adding an .on('error') I can prevent this crash. If I send an other unknown command eq '/foobar'. Bot is still working.

[2016-01-05 19:09] shernshiou commented on #63
yup thanks what I did too.

[2016-01-05 19:09] #63 closed

[2016-01-06 11:02] trashbytes commented on #53
As I rolled back to a previous build I noticed that a Gateway error is never thrown. I get quite a few over the days when running the working build so I assume that something in that area changed which causes the bot to again stop pulling on such an error.

[2016-01-20 16:19] seeya commented on #53
I am also facing this issue, I get `[Error: Gateway error.]` this error and the bot just stops and die. I'm using polling.

[2016-01-21 02:48] shernshiou commented on #53
@seeya I faced this error when my network is down.

[2016-01-23 19:00] ZigmunD opened #67 ".on fired twice"
Hi there,

I started bot from example:
[code]

Every time I send msg to bot I got .on fired twice;
[code]

[2016-03-04 11:50] Kaos1337 commented on #53
Do you have any suggestion to manage the "gateway error" due a temporary network down? Like a wait for <something>...

[2016-03-07 07:16] trashbytes commented on #53
What works is catching and logging/ignoring. It will try again.

[2016-03-11 14:01] Square0ne commented on #53
I have the same problem, running my bot on forever and after like 20h it just stopps, error log empty, looks like it just stops pulling... may using webhooks fix this?

[2016-03-11 14:04] trashbytes commented on #53
Use an older build or switch to Yago Perez API.

[2016-03-11 16:18] Square0ne commented on #53
not really the solution I was hoping for, on which build is it working?

[2016-03-11 16:30] trashbytes commented on #53
https://github.com/depoio/node-telegram-bot/tree/9777fec0e254af667b4aa20729a31086b78834c5

I think this one.

[2016-03-11 21:27] Square0ne commented on #53
I think the problem is
if (self.polling) {
          self._poll();
      }
is only called if you have no error, so if you have an error it won't be called try putting it behind the if/elses ... trying right now

[2016-03-12 03:29] shernshiou commented on #53
sorry guys.. i do not have my computer for a few months.
I will rewrite this asap after i got my com.

[2016-03-18 14:57] miguelpeixe opened #68 "getFile without dir parameter"
If `dir` is not set on getFile method the returned url is `null`.

Apparently the url is only set inside the `options.dir` conditional.

[2016-03-21 14:17] miguelpeixe commented on #68
Just realized this is fixed on master, but not updated to npm

[2016-03-21 14:17] #68 closed

[2016-04-11 14:42] offerm commented on #49
I'm still at 0.1.2 and can't upgrade to latest version.
I have 2 servers which share the same token and use pulling.
From time to time they get 409 error.
with 0.1.2 the pulling continues.
with 0.1.9 pulling stops on 409 error.

[2016-04-11 14:42] offerm opened #69 "pulling and http 409 error"
I'm still at 0.1.2 and can't upgrade to latest version.
I have 2 servers which share the same token and use pulling.
From time to time they get 409 error.
with 0.1.2 the pulling continues.
with 0.1.9 pulling stops on 409 error.

[2016-04-13 02:38] shernshiou commented on #69
I am in the progress of rewriting the code to v1

[2016-05-04 09:48] longstone commented on #49
I'm sure its the programmers intend in the current version, to stop if the response is not 200. However, this seems not optional for a reliabe and stable operation. May be there should be a configuration option to determ the behavior?

https://github.com/depoio/node-telegram-bot/blob/master/lib/Bot.js#L214

[code]

So there is no "restart" of polling in the not 200 section.

[2016-05-23 04:44] convexset opened #70 "Quick fix for a problem with edited messages (no `msg.message`; but messages include a `msg.edited_message`)"
There is a problem with `_poll` when messages are edited before being read.

`msg.message` is missing when a message is edited, `msg.edited_message` is available

I've provided a very quick fix. But you might want to do something more comprehensive.

[code]

Here's what a `msg.edited_message` looks like:
[code]

[2016-05-24 08:39] theshaun commented on #70
works brilliantly!

[2016-05-24 08:40] convexset commented on #70
Great. Thanks for the package.

On Tuesday, 24 May 2016, Shaun Walker <notifications@github.com> wrote:

--
Regards,
Jeremy Chen

[2016-05-24 09:06] longstone commented on #67
Does this problem still exist? do you might have a demo repo?

[2016-05-25 02:01] kdemoya commented on #70
Is anyone planning to do a PR for this? I'm willing to jump in if no one is working on one.

[2016-05-25 02:18] convexset commented on #70
Not me. I don't know enough about the package and API. I've checked that
forwarding messages to it works, receiving audio is also fine. The only
strange exception I've noted is edited messages.

Waiting for a new version to replace my monkey patched one.

Regards,
Jeremy Chen

On Wed, May 25, 2016 at 10:01 AM, Kelvin De Moya <notifications@github.com>
wrote:

[2016-05-25 10:53] farshadjahanmanesh opened #72 "hi, is there an option or a way to send a photo from a url?"
i mean ,sending a photo from url like : "http:......./host/goal.png" instead of a file on local server

[2016-05-27 05:23] theshaun commented on #70
I've created a PR that should resolve this issue, happy to make adjustments where required

[2016-05-27 05:57] #70 closed

[2016-05-27 05:58] shernshiou commented on #72
@farshadjahanmanesh I am afraid you have to do this yourself.

[2016-05-27 05:58] #72 closed

[2016-05-28 08:02] ishan-marikar opened #74 "Still possible to use streams instead of filepath?"
Is it still possible to use streams instead of the file path when sending images/videos/etc?
I get the images off another server, which is why I need it :/

[code]

[2016-05-28 10:02] derhuerst commented on #74
[Seems like it](https://github.com/depoio/node-telegram-bot/blob/d8257eb/lib/Bot.js#L575-L580).

It would be nice to let `node-telegram-bot` accept [vinyl files](https://github.com/hughsk/vinyl#file) instead of custom solutions. Then, one could reuse the existing [vinyl ecosystem](https://www.npmjs.com/search?q=vinyl).

[2016-07-02 11:41] farshadjahanmanesh opened #75 "hi is there a way to remove private chat messages?"

[2016-07-13 13:49] denisx opened #76 ""sendContact" not work"

[2016-08-11 10:53] vbauer opened #78 "TypeError: Cannot read property 'text' of undefined"
[code]

[2016-08-11 10:56] vbauer opened #79 "Error: read ECONNRESET"
Some times my bot fails with the following error:

[code]

PS: I do not work with network using some libraries exception node-telegram-bot.

[2016-08-11 10:58] theshaun commented on #78
I have seen this error and the one noted in #79 as well. Have not had a chance to look into it yet. Can confirm that both do occur on occasions

[2016-08-11 11:06] vbauer commented on #78
Unfortunately, I do not see the connection between them.. Errors occur spontaneously.

[2016-08-12 23:36] fcanela opened #80 "Edited messages causes library to break"
When the server sends a message like (personal information redacted and user id modified):

[code]

The following error is raised:

[code]

This behaviour can be reproduced this way:
1. Sending a command using Linux client
2. Pressing up key in the text area, an "Edit message" label will appear
3. Resending the command or writing a new one

A dirty and quick fix that solved my issue was referencin

[2016-08-13 16:04] vbauer commented on #80
I have the same problem: https://github.com/depoio/node-telegram-bot/issues/78

[2016-08-13 16:10] fcanela commented on #80
Sorry, @vbauer, didn't saw your issue.

I hope the fix included in my original post help you with your issue.

[2016-08-16 06:06] Alavi1412 commented on #80
I have added :

Bot.prototype.editMessageText = function (options, callback) {
  var self = this
    , deferred = Q.defer();

  this._get({
    method: 'editMessageText',
    params: {
      chat_id: options.chat_id,
      text: options.text,
      message_id: options.message_id,
      parse_mode: options.parse_mode,
      disable_web_page_preview: options.disable_web_page_preview,
      reply_to_

[2016-08-16 06:13] Alavi1412 commented on #80
add :
if(!msg.callback_query)

before :
 if (msg.message.text && msg.message.text.charAt(0) === '/') {

and your error will be fixed

[2016-08-16 21:34] vbauer commented on #80
Any news about this problem? Is it possible to fix this issue in library in the nearest future?

[2016-08-17 02:48] shernshiou commented on #80
@vbauer I am sorry. Currently I am very busy. I would accept any pull request to fix this issue.

[2016-08-17 03:59] theshaun commented on #80
Hi guys,

Are you testing based on NPM or from git master?

There was a fix pushed #73 that split out and gracefully handles normal and edited messages.

Based on the code examples I am seeing, they don't seem to match master

[2016-08-17 06:43] Alavi1412 commented on #80
[Bot.zip](https://github.com/depoio/node-telegram-bot/files/421911/Bot.zip)

hi,I have edited something ,and added new futures, and it supports inline_keyborads and answerCallbackQuery method and editMessageText and ...
I wish it could help you.

[2016-08-25 11:15] vbauer opened #81 "Error: Gateway error."
[code]

[2016-08-25 11:17] vbauer commented on #80
@theshaun I've been testing library with #73 during last week and everything looks fine, except a new one problem that I've caught few minutes ago: #81

[2016-08-25 11:33] derhuerst commented on #81
That's Telegrams fault afaik.

[2016-08-25 11:55] vbauer commented on #81
Probably, but is it possible to wrap this exception? In the current moment my bot suddenly breaks.

[2016-08-25 12:25] derhuerst commented on #81
Why would you wrap that error? I think it is your responsibility you properly handle that error.

[2016-08-25 12:36] vbauer commented on #81
I mean this error occurs in the part of node-telegram-bot library. Is it possible to handle somehow this exception in my code?

[2016-08-25 12:55] derhuerst commented on #81
How do you receive the error?

[2016-08-25 12:58] vbauer commented on #81
You can see full stacktrace in the description. That's all I have..

[2016-08-25 13:00] derhuerst commented on #81
Did you get it in a callback or has it been thrown somewhere else?

[2016-08-25 14:04] vbauer commented on #81
If I have got this information, I could catch this error and add some logging, but I do not know how to understand it using this stacktrace.

I see that error occurs somewhere in poll method inside pollingRequest: https://github.com/depoio/node-telegram-bot/blob/master/lib/Bot.js#L273

[2016-08-25 16:16] derhuerst commented on #81
Do something like `bot.on('error', (err) => {/* handle error here */)`.

[2016-08-25 20:17] vbauer commented on #81
Thank you for suggestion, I will try it as soon as possible!

[2016-08-27 15:07] vbauer commented on #81
Hmm.. I've just checked source and I already have the following code (but bot was stopped anyway).

[code]

Perhaps the problem was caused by OpenShift. Thank you for your time! I will reopen this ticket, if find something interesting.

[2016-08-27 15:07] #81 closed, assigned to nobody

[2016-12-17 14:48] xangel99 opened #83 "Unhandled rejection Error: read ECONNRESET"
Unhandled rejection Error: read ECONNRESET
    at exports._errnoException (util.js:907:11)
    at TLSWrap.onread (net.js:557:26)

[2016-12-20 03:55] theshaun commented on #83
This is not a new issue, referencing #79

I've seen this happen every now and then when telegram derps up.

I don't believe this is a library issue unless you have more log data/steps to reproduce.

[2017-03-29 18:51] A1Gard opened #84 "bug: replay inline keyboard with callback has crash"
when we send lnlinekeyboards to user after click on those keyboards the bot crashed.
I fixed this bug for myself by this solution add some code above of this line:

` if (msg.message.text && `msg.message.text.charAt(0)` === '/') {`

my fixing code:

[code]
I can commit &  pull request for your repo

Thanks 4 dev this bot
Kind regards #

[2017-04-01 23:08] cryarchy commented on #78
Having the same problem as well. Sending the following messages to a bot `/cmd param` or `text /cmd` results in:
[code]

[2017-04-19 20:35] negiot commented on #79
Error: EFATAL: Error: read ECONNRESET after sendMessage

[2017-11-22 17:37] icebergyy commented on #25
Was this resolved? I am having issues with 504's when sending images as well

[2018-02-01 10:10] hamidb80 commented on #78
i change my bot and problem automatically fixed! why?